<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @organization.org_type %>
</p>

<p>
  <strong>Readable ids:</strong>
  <%= @organization.readable_ids %>
</p>

<p>
  <strong>Writable ids:</strong>
  <%= @organization.writable_ids %>
</p>

<p>
  <strong>Is producer:</strong>
  <%= @organization.is_producer %>
</p>

<p>
  <strong>Is validator:</strong>
  <%= @organization.is_validator %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
